@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "Millik";
  src: url("../assets/fonts/Millik.c3f91cb.ttf");
}

@font-face {
  font-family: "Moderat";
  src: url("../assets/fonts/Moderat-Regular.a2f5d8f.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Moderat";
  src: url("../assets/fonts/Moderat-Medium.9a1678a.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Moderat";
  src: url("../assets/fonts/Moderat-Bold.aef2636.ttf");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  font-family: "Moderat"; /* "Roboto"; */
}

@keyframes slide-up {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.swiper-button-prev,
.swiper-button-next {
  border-radius: 999999px;
  background-color: #fff;
  display: flex;
  width: 48px !important;
  height: 48px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: red;
  font-size: 24px !important;
  display: block;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-outline {
  -webkit-text-stroke: 2px #ffffff;
  text-stroke: 2px #ffffff;
  /* Fallback for browsers that don't support text-stroke */
  text-shadow: 2px 2px #333333;
}

.hero-background {
  background-image: url("../assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: 36% 8%;
  transform: scaleX(-1);
}
.card-background {
  background-image: url("../assets/texture.svg");
  /* background-repeat: no-repeat; */
}
.card-background-position-right {
  background-position: 100% 0;
}
.card-background-position-left {
  background-position: 0% 0;
}

.font-secondary {
  font-family: "Millik";
}
.font-tertiary {
  font-family: "Roboto";
}
/* width */
.custom__scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom__scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom__scrollbar::-webkit-scrollbar-thumb {
  background: #515151;
  border-radius: 24px;
}

/* Handle on hover */
.custom__scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}
